module {{.GetLower}} 

go 1.17

// TODO: remove this replace and update the version on line 9 to the version with your updated protos when opening the PR for the service addition
replace github.com/circadence-official/galactus/api/gen/go v1.0.5 => ../../api/gen/go

require (
	github.com/circadence-official/galactus/api/gen/go v1.0.15
	github.com/circadence-official/galactus/pkg/clientfactory v1.0.19
	github.com/circadence-official/galactus/pkg/logging/v2 v2.0.9
	github.com/circadence-official/galactus/pkg/chassis v1.0.34
	github.com/circadence-official/galactus/pkg/util v1.0.18
	github.com/stretchr/testify v1.7.0
	github.com/undefinedlabs/go-mpatch v1.0.6
	google.golang.org/grpc v1.45.0
)
