# {{.GetLower}}

This service is the aggregate service for the {{.GetTitle}} aggregate. It hosts a gRPC server for CRUL (no delete) on the {{.GetTitle}} aggregate as well as listening on the messagebus for Create and Update events on the {{.GetTitle}} aggregate.
